In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv('heart.csv')

In [ ]:
df.head()

   age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0   63    1   3       145   233    1  ...      0      2.3      0   0     1       1
1   37    1   2       130   250    0  ...      0      3.5      0   0     2       1
2   41    0   1       130   204    0  ...      0      1.4      2   0     2       1
3   56    1   1       120   236    0  ...      0      0.8      2   0     2       1
4   57    0   0       120   354    0  ...      1      0.6      2   0     2       1

[5 rows x 14 columns]

In [ ]:
df.describe()

              age         sex          cp  ...          ca        thal      target
count  303.000000  303.000000  303.000000  ...  303.000000  303.000000  303.000000
mean    54.366337    0.683168    0.966997  ...    0.729373    2.313531    0.544554
std      9.082101    0.466011    1.032052  ...    1.022606    0.612277    0.498835
min     29.000000    0.000000    0.000000  ...    0.000000    0.000000    0.000000
25%     47.500000    0.000000    0.000000  ...    0.000000    2.000000    0.000000
50%     55.000000    1.000000    1.000000  ...    0.000000    2.000000    1.000000
75%     61.000000    1.000000    2.000000  ...    1.000000    3.000000    1.000000
max     77.000000    1.000000    3.000000  ...    4.000000    3.000000    1.000000

[8 rows x 14 columns]

In [ ]:
df.thal.value_counts()

2    166
3    117
1     18
0      2
Name: thal, dtype: int64

In [ ]:
df = pd.get_dummies(df, columns=['cp', 'slope','restecg','ca','thal'], prefix=['cp','slope','restecg','ca','thal'])
df.head()

   age  sex  trestbps  chol  fbs  ...  ca_4  thal_0  thal_1  thal_2  thal_3
0   63    1       145   233    1  ...     0       0       1       0       0
1   37    1       130   250    0  ...     0       0       0       1       0
2   41    0       130   204    0  ...     0       0       0       1       0
3   56    1       120   236    0  ...     0       0       0       1       0
4   57    0       120   354    0  ...     0       0       0       1       0

[5 rows x 28 columns]

In [ ]:
X = df.drop('target', axis=1)
y = df.target

In [ ]:
X.shape

(303, 27)

In [ ]:
y.shape

(303,)

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [ ]:
# def SVM_fit(X, y, num_iter, alpha, lmd):
#   n, m = X.shape
#   w = np.zeros(m)
#   b = 0
#   for l in range(num_iter):
#     for i in range(len(X)):
#       if y[i]* ((X[i] @ w) - b) >=1:
#         w = w - alpha * (2 * lmd * w)
#       else:
#         w = w - alpha * (2 * lmd * w - np.dot(X[i], y[i]))
#         b = b - alpha * y[i]
#   return (w, b)

In [ ]:
class SVM:

    def __init__(self, learning_rate=0.001, lambda_param=0.01, n_iters=1000):
        self.lr = learning_rate
        self.lambda_param = lambda_param
        self.n_iters = n_iters
        self.w = None
        self.b = None


    def fit(self, X, y):
        n_samples, n_features = X.shape
        
        y_ = np.where(y <= 0, -1, 1)
        
        self.w = np.zeros(n_features)
        self.b = 0

        for _ in range(self.n_iters):
            for idx, x_i in enumerate(X):
                condition = y_[idx] * (np.dot(x_i, self.w) - self.b) >= 1
                if condition:
                    self.w -= self.lr * (2 * self.lambda_param * self.w)
                else:
                    self.w -= self.lr * (2 * self.lambda_param * self.w - np.dot(x_i, y_[idx]))
                    self.b -= self.lr * y_[idx]


    def predict(self, X):
        approx = np.dot(X, self.w) - self.b
        return np.sign(approx)

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
classifier = SVM(learning_rate=0.01, lambda_param=0.001, n_iters=1000)
classifier.fit(X_train, y_train)
y_pred = classifier.predict(X_test)
y_test = np.where(y_test == 0, -1, 1)
accuracy_score(y_test, y_pred)

0.8688524590163934

In [ ]:
from sklearn import datasets

In [ ]:
X, y =  datasets.make_blobs(n_samples=303, n_features=27, centers=2)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
classifier = SVM(learning_rate=0.01, lambda_param=0.1)
classifier.fit(X_train, y_train)
y_pred = classifier.predict(X_test)
y_test = np.where(y_test == 0, -1, 1)
accuracy_score(y_test, y_pred)

1.0

In [ ]:
from sklearn import svm
clf = svm.SVC()
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)
accuracy_score(y_test, y_pred)

0.9016393442622951