<a href="https://colab.research.google.com/github/arshpreet10/Internity-Winter-Internship/blob/main/Linear_Algrebra.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [90]:
import numpy as np

Creating a Matrix

In [91]:
A = np.array([[1,2,1],
             [4,4,5],
             [6,2,7]])
print(A)

[[1 2 1]
 [4 4 5]
 [6 2 7]]

Transpose of Matrix

In [92]:
B = A.transpose()
print(B)

[[1 4 6]
 [2 4 2]
 [1 5 7]]

Matrix Multiplication

In [18]:
A = np.array([[1,2,1],
             [4,4,5],
             [6,2,7]])

B = np.array([[1,4,6],
              [2,4,2],
              [1,5,7]])
np.dot(A,B)

array([[ 6, 17, 17],
       [17, 57, 67],
       [17, 67, 89]])

In [19]:
C= A@B
C_t = C.T
print(C_t)

[[ 6 17 17]
 [17 57 67]
 [17 67 89]]

Matrix Power

In [85]:
A = np.array([[0, 1],
              [-1, 0]])
np.linalg.matrix_power(M,4)

array([[1, 0],
       [0, 1]])

In [86]:
A @ A @ A @ A

array([[1, 0],
       [0, 1]])

Matrix Determinant

In [42]:
A = np.array([[6,1,1],
              [4,-2,5],
              [2,8,7]])
print(A)

[[ 6  1  1]
 [ 4 -2  5]
 [ 2  8  7]]

In [43]:
np.linalg.det(A)

-306.0

Matrix Inverse

In [48]:
A = np.array([[1,2,3],
              [0,1,4],
              [5,6,0]])
print(A)

[[1 2 3]
 [0 1 4]
 [5 6 0]]

In [49]:
np.linalg.det(A)

0.9999999999999964

In [50]:
A_inv = np.linalg.inv(A)
print(A_inv)

[[-24.  18.   5.]
 [ 20. -15.  -4.]
 [ -5.   4.   1.]]

In [51]:
A @ A_inv

array([[ 1.00000000e+00, -2.66453526e-15,  0.00000000e+00],
       [ 0.00000000e+00,  1.00000000e+00,  0.00000000e+00],
       [ 0.00000000e+00, -7.10542736e-15,  1.00000000e+00]])

In [60]:
np.round(A @ A_inv, 5)

array([[ 1., -0.,  0.],
       [ 0.,  1.,  0.],
       [ 0., -0.,  1.]])

Orthogonal Matrix

In [13]:
M = np.array([[-1,0],
              [0,1]])
M.transpose()

array([[-1,  0],
       [ 0,  1]])

In [14]:
np.linalg.inv(M)

array([[-1., -0.],
       [ 0.,  1.]])

In [15]:
M @ M.transpose()

array([[1, 0],
       [0, 1]])

In [24]:
M @ np.linalg.inv(M)

array([[1., 0.],
       [0., 1.]])

Trace

In [45]:
I = np.eye(3,3)
print(I)

[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]

In [46]:
np.trace(I)

3.0

Normal Equation ( Finding theta for Gradient Descent )

![image.png]()

In [61]:
import pandas as pd

In [67]:
df = pd.read_csv('sample_data/california_housing_test.csv')
df.head()

   longitude  latitude  ...  median_income  median_house_value
0    -122.05     37.37  ...         6.6085            344700.0
1    -118.30     34.26  ...         3.5990            176500.0
2    -117.81     33.78  ...         5.7934            270500.0
3    -118.36     33.82  ...         6.1359            330000.0
4    -119.67     36.33  ...         2.9375             81700.0

[5 rows x 9 columns]

In [66]:
y = df.median_house_value

In [73]:
X = df.drop(['median_house_value'], axis=1)
X.head()

   longitude  latitude  ...  households  median_income
0    -122.05     37.37  ...       606.0         6.6085
1    -118.30     34.26  ...       277.0         3.5990
2    -117.81     33.78  ...       495.0         5.7934
3    -118.36     33.82  ...        11.0         6.1359
4    -119.67     36.33  ...       237.0         2.9375

[5 rows x 8 columns]

In [74]:
X_t = np.transpose(X)

In [79]:
theta  = np.linalg.inv(X_t@ X) @ X_t @ y
print(theta)

0    -2262.072920
1    -8274.614478
2     1739.267005
3      -15.226887
4       83.027860
5      -41.112520
6      129.006028
7    44729.580742
dtype: float64